<head>
    <link href="http://gmpg.org/xfn/11" rel="profile">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="text/html; charset=utf-8" http-equiv="content-type">

    <!-- Enable responsiveness on mobile devices-->
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1" name="viewport">

    <title>
        {{ site.title }}
    </title>

    <!-- CSS -->
    <link href="{{"/public/css/poole.css" | relative_url}}" rel="stylesheet">
    <link href="{{ "/public/css/syntax.css" | relative_url}}" rel="stylesheet">
    <link href="{{ "/public/css/hyde.css" | relative_url}}" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700|Abril+Fatface" rel="stylesheet">

    <!-- Icons -->
    <link href="{{ "/public/apple-touch-icon-144-precomposed.png" | relative_url}}" rel="apple-touch-icon-precomposed"
          sizes="144x144">
    <link href="{{ "/public/favicon.ico" | relative_url}}" rel="shortcut icon">

    <!-- RSS -->
    <link href="/atom.xml" rel="alternate" title="RSS" type="application/rss+xml">
</head>
